Django>=4.2,<5.3
transformers==4.30.2
datasets==3.1.0
accelerate==1.0.1
huggingface-hub==0.28.1
decord==0.6.0
numpy==1.24.3
pandas==2.0.3
matplotlib==3.7.5
opencv-contrib-python==4.11.0.86
scipy==1.10.1
sounddevice==0.5.2
jiwer==3.1.0
einops==0.8.0
evaluate==0.4.3
fairseq==0.12.2
mediapipe==0.10.11
tokenizers==0.13.3
tensorboardX
cffi
fastapi[standard]==0.115.6
